body {
    background: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 700px;
    background: #edeaea;
    margin: 80px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 0 15px 6px rgba(0, 0, 0, 0.259);
    position: relative;
    text-align: center;
}
.botao-voltar {
  margin: -60px 0 10px 50px;
  z-index: 10;
  position: relative;
}

.botao-voltar a {
    color: black;
    font-size: 24px;
    text-decoration: none;
}

.foto_perfil {
  margin-top: 40px;
  display: flex;
  width: 190px;
  height: 190px;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  border-radius: 50%;
  border: 3px solid #e1b218;
}

h2 {
margin-top: 140px;
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  position: relative;
  display: block;
  padding-bottom: 5px;
  width: 100%;
}

hr {
  display: block;
  height: 5px;
  background-color: #e4af00;
  margin: 5px auto 0;
  width: 43%;
}

.avatar {
    margin-left: 220px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin: 10px 0 5px;
    font-size: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #d4aa00;
    color: white;
    padding: 10px;
    width: 20%;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
}

.sucesso {
    color: green;
    margin-top: 15px;
}

.scroll-top {
 position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: #f7be00;
    color: white;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}