/* Estilos gerais */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}


/* Conteúdo principal */
.contato-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding: 100px;
    background: #fff;
}

.formulario-contato {
    flex: 1;
    max-width: 400px;
    margin: 20px;
}

.formulario-contato h3 {
    color: #ff5e00;
    font-size: 18px;
}

.formulario-contato h2 {
    margin: 10px 0;
    font-size: 24px;
}

.formulario-contato form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario-contato input,
.formulario-contato textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-enviar {
    background: #FFD700;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.imagem-contato {
    position: absolute;
    top: 80px;
    right: 300px;
    flex: 1;
    max-width: 500px;
}

.imagem-contato img {
    height: 600px;
}

/* Contato secundário */
.contato-secundario {
    text-align: center;
    margin: 40px 20px;
}

.contato-secundario h3 {
    font-size: 24px;
}

.contato-secundario h3 span {
    color: #00a651;
}

.info-contato {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.info-contato div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

/* Rodapé */
footer {
    background: #FFD700;
    padding: 30px 20px 10px 20px;
}

.rodape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.logo-footer img {
    width: 100px;
}

.redes-sociais a {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    color: black;
}

.creditos p {
    margin-top: 10px;
}

.copy {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
