.hrvermelho{
    width: 30%;
    height: 1px;
    border: rgb(220, 4, 4) 4px solid;
}

#subtitulo{
    display: flex;
}
.destaque{
    color: rgb(255, 191, 0);
}
 body{
   
    align-items: center;
    padding: 0px;
}
nav{
    margin-top: 0px;
    margin-bottom: 10px;

}

button{
    width: 25%;
    color: white;
    font-size:larger;
}

div{
    margin-top:30px
}