* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  background: #a2966f;
  background: radial-gradient(circle,
      rgba(247, 190, 0, 1) 0%,
      rgba(175, 126, 15, 1) 100%);
}

.tela-login {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.voltar {
  position: absolute;
  top: 15px;
  left: -30px;
  z-index: 10;
}

.voltar img {
  width: 135px;
  height: 70px;
}

.conteudo {
  display: flex;
  background-image: url("../img/fundo_login_novo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 60px;
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.405);
  overflow: hidden;
  max-width: 890px;
  width: 100%;
  height: 490px;
  max-height: 600px;
  position: relative;
}

.lado-esquerdo {
  width: 50%;
  height: 100%;
  background: transparent;
}

.lado-direito {
  width: 50%;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-login h1 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-login .esqueceuSenhaTitulo {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.linha-titulo {
  border: none;
  height: 5px;
  background-color: #b9910d;
  width: 280px;
  margin-bottom: 38px;
}

.linha-titulo-esqueceu {
  border: none;
  height: 5px;
  background-color: #b9910d;
  width: 350px;
  margin-bottom: 38px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
}

form input {
  padding: 13px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 23px;
  margin-bottom: 26px;
}

.link-senha {
  margin-left: 12px;
  font-size: 12px;
  color: #b9910d;
  margin-top: -40px;
  margin-bottom: 22px;
  text-decoration: none;
}

.link-senha:hover {
  text-decoration: underline;
}

.botao-entrar {
  display: inline-block;
  background: linear-gradient(90deg, #b18713, #deb631, #b18713);
  color: white;
  font-weight: bold;
  padding: 10px 10px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 25px;
  transition: background 0.3s ease;
  width: 100px;
  margin: 10px auto 0 auto;
  text-align: center;
}

.botao-entrar:hover {
  background: linear-gradient(90deg, #bf8e04, #d8b108);
}

.botao-entrar-login {
  display: inline-block;
  background: linear-gradient(90deg, #b18713, #deb631, #b18713);
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  border-radius: 25px;
  transition: background 0.3s ease;
  width: 100px;
  margin-top: -60px;
  text-align: center;
}

.input-group-login {
  position: relative;
  width: 100%;
  margin-bottom: 90px;
}

.input-group-login input {
  width: 100%;
  margin-bottom: 4px;
  padding-right: 45px;
  box-sizing: border-box;
}

.toggle-password-login {
  position: absolute;
  right: 10px;
  top: 36%;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-password-login svg {
  width: 22px;
  height: 22px;
  color: #7f7d7da7;
}

.toggle-password-login:hover svg {
  color: #bf8e04;
}

.input-group {
  position: relative;
  width: 100%;
}

.input-group input {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

.input-group .toggle-password {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}

.toggle-password svg {
  width: 24px;
  height: 24px;
  color: #7f7d7da7;
  transition: color 0.3s ease;
}

.toggle-password:hover svg {
  color: #bf8e04;
}

@media (max-width: 768px) {
  .conteudo {
    flex-direction: column;
    width: 95%;
  }

  .lado-esquerdo,
  .lado-direito {
    width: 100%;
  }

  .lado-esquerdo {
    height: 200px;
    background-position: center top;
  }

  .lado-direito {
    padding: 30px 20px;
  }
}