* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
   background-image: url('../img/fundo_login.png');
}

.tela-login {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.voltar {
  position: absolute;
  top: 15px;
  left: -30px;
  z-index: 10;
}

.voltar img {
  width: 135px;
  height: 70px;
}

.conteudo {
  display: flex;
  background-image: url('../img/fundo_login_novo.png'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 34px;
  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.405);
  overflow: hidden;
  max-width: 890px;
  width: 100%;
  height: 490px;
  max-height: 600px;
  position: relative; 
}

.lado-esquerdo {
  width: 50%;
  height: 100%;
  background: transparent;
}

.lado-direito {
  width: 50%;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-login h1 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-login .esqueceuSenhaTitulo {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.linha-titulo {
  border: none;
  height: 5px;
  background-color: #b9910d;
  width: 280px;
  margin-bottom: 38px;
}

.linha-titulo-esqueceu {
  border: none;
  height: 5px;
  background-color: #b9910d;
  width: 350px;
  margin-bottom: 38px;
}


form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
}

form input {
  padding: 13px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 23px;
  margin-bottom: 26px;
}

.link-senha {
  margin-left: 12px;
  font-size: 12px;
  color: #b9910d;
  margin-top: -20px;
  margin-bottom: 22px;
  text-decoration: none;
}

.link-senha:hover {
  text-decoration: underline;
}

.botao-entrar {
  display: inline-block;
  background: linear-gradient(90deg, #b18713, #deb631, #b18713);
  color: white;
  font-weight: bold;
  padding: 10px 10px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 25px;
  transition: background 0.3s ease;
  width: 100px;
  margin: 10px auto 0 auto; 
  text-align: center;
}


.botao-entrar:hover {
  background: linear-gradient(90deg, #bf8e04, #d8b108);
}

@media (max-width: 768px) {
  .conteudo {
    flex-direction: column;
    width: 95%;
  }

  .lado-esquerdo,
  .lado-direito {
    width: 100%;
  }

  .lado-esquerdo {
    height: 200px;
    background-position: center top;
  }

  .lado-direito {
    padding: 30px 20px;
  }
}
