body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('../img/fundo_perfil.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.form-container {
  margin-left: 400px;
  margin-top: 150px;
  width: 700px;
  height: 400px;
  background-color: #e3e3e3;
  border-radius: 12px;
  box-shadow: 1px 0 9px 7px rgba(0, 0, 0, 0.259);
  text-align: center;
}

.form-container h2 {
  color: #b08d2e;
  font-weight: bold;
  margin-bottom: 95px;
}

.perfil-info img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #f1f1f1;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.perfil-info .campo {
  font-size: 1.1em;
  margin-bottom: 15px;
  text-align: left;
}

.perfil-info .campo strong {
  color: #b08d2e;
  margin-right: 5px;
}

.editar-perfil-link {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #b08d2e;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.editar-perfil-link:hover {
  background-color: #967a1d;
}

.form-container > a[href="logout.php"] {
  display: inline-block;
  margin-top: 25px;
  color: #b08d2e;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s;
}

.form-container > a[href="logout.php"]:hover {
  color: #967a1d;
}
