@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sarala:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right img {
    width: 43px;
    height: 40px;
    margin-left: 10px;
    margin-right: 15px;
  }
  
img{
    height: 50px;
    margin-left: -55px;
}

nav{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: rgb(255, 191, 0);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li{
    margin: 0 5px;
    position: relative;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover{
    color: black;
}

nav .menu-btn i{
    cursor: pointer;
    display: none;
}

@media (max-width: 920px){
    nav .menu-btn i{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: rgb(255, 191, 0);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;    
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a{
        font-size: 23px;

    }
    nav ul li a.active,
    nav ul li a:hover{
    background-color: rgb(255, 150, 0);
}
}
.dropdown__menu{
    display: none;
}

.menu__bar ul li:hover .dropdown__menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(255, 191, 0);
    border-radius: 5px;
}

.dropdown__menu ul{
    display: block;
    margin: 10px;
}

.dropdown__menu ul li{
    width: 150px;
<<<<<<< HEAD
    padding: 10px; 
=======
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

form {
    max-width: 100%; /* Garante que o formulário não tenha uma largura menor */
    width: 400px; /* Define a largura para alinhar com os inputs */
    margin: 0 auto; /* Centraliza o formulário */
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 16px;
}

input::placeholder, textarea::placeholder {
    color: orange;
}

textarea {
    height: 100px;
    resize: none;
}

.contatobotao {
    width: 100%;
    padding: 12px;
    background-color: gold;
    margin-left: 0px;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.contatobotao:hover {
    background-color: #e6b800;
>>>>>>> 6fd8981d6814da2a01b848b64a8ca0a1d99e8121
}